
$font-header: "Roboto", sans-serif, bold, medium;

$color-header:#ffffff;
$color-secondary-tex: #4a4a4a;
$color-suptitle:#6c933e
$color-secondary-parr #000000;

$backgouundcolor-section-1:#ffffff;
$backgroundcolor-section-2:#d9e4cc;
$backgroundcolor-footer:#4a4a4a;

$backgroundcolor-boton:#6c933e