footer {
    background-color: $background-footer;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media all and (min-width: 768px) {
        display: flex;
        flex-direction: row;
    }


    .heart {
        color: $background-color-boton;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
    }

    nav,
    p {
        font-family: "Roboto", sans-serif;
    }

    nav {
        text-align: center;

    }

    nav,
    p {
        text-align: center;
        color: $color-header;
        margin: 5px;
    }

    .copy {

        text-align: center;
        color: $color-header;
        padding: 10px 50px 20px;
    }
}


.nav1 {
    color: $color-header;
    padding: 15px;
    line-height: 1.88;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 15px;

}

.nav2 {
    color: $color-header;
    padding: 15px;
    line-height: 1.88;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
}


a {
    color: $background-section-1;
}

.circlefooter {
    background-color: $background-section-1;
    border-radius: 50%;
    width: 20.6px;
    height: 24px;
    padding: 15px 15px 15px 15px;

}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @footer {}
    }
}