header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url("/images/cover.jpeg");
  height: 552px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;

.circle {
  background-color: $background-section-1;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin: 34px 145px 0 95px;
  padding: 15px 10px 13px 11px;
}
  .content {
    color: $color-header;
    font-family: $font-header;
    padding: 50px;
    text-align: center;
    

    h1 {
      font-size: 30px;
      font-weight: bold;
      
    }
    p {
      text-align: center;
      font-size: 16px;
      line-height: 1.19;
      padding: 16px;
      font-family: "Roboto", sans-serif;
    }
  }
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $background-color-boton;
  
}



@mixin tablet {
  @media screen and (max-width: 900px) {
      @content
  }
}