header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url("/images/cover.jpeg");
  height: 552px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;

  .content {
    color: $color-header;
    font-family: $font-header;
    padding: 100px;


    h1,
    p {
      text-align: center;
    }
  }

}