<footer>
    <span class="circlefooter">
        <img src="/images/ico-arrow.svg" alt="ico-arrow"></span>
    <nav>
        <ul class="nav1">
            
            <li> <a href="https://adalab.es">ZAPATILLA</a></li>
            <li><a href="https://adalab.es">ROPA</a></li>
            <li><a href="https://adalab.es">NIÑO/A</a></li>
            <li><a href="https://adalab.es">DESTACADOS</a></li>
            <li><a href="https://adalab.es">TIPS</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="nav2">
            <li><a href="https://adalab.es">TWITTER</a></li>
            <li><a href="https://adalab.es">INSTAGRAM</a></li>
            <li><a href="https://adalab.es">YOUTUBE</a></li>
        </ul>
    </nav>
    <P>©2023</P>
    <P class="copy">we <span class="heart">❤︎</span> run</P>
</footer>