<main>
    <section class="section1">
        <h3>HISTORIAS, MODA Y ROPA DEPORTIVA</h3>
        <h2>TU TIENDA DE DEPORTE</h2>
        <p class="tex2">El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y
            mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca
            personal.</p>
        <button>comprar</button>
    </section>

    <section class="section2">

        <article class="title">
            <p>¡Prepáralos con tus marcas favoritas!</p>
            <h4 class="title2" id="vueltaalcole">VUELTA AL COLE</h4>
        </article>

        <article class="grid">

            <article>
                <img src="/images/lpbts-mod05-img01-desk.png" alt="niña">
                <h4>Mochilas escolares</h4>
            </article>

            <article>
                <img src="/images/lpbts-mod05-img04-mob.png" alt="niño">
                <h4>Estuches</h4>
            </article>

            <article>
                <img src="/images/lpbts-mod05-img03-mob.png" alt="niña">
                <h4>Bolsas de desporte</h4>
            </article>
        </article>







        <!--<article class="picture1">
            <img src="/images/lpbts-mod05-img01-desk.png" alt="niña">
            <p>Mochilas escolares</p>
        </article>

        <article class="picture2">
            <img src="/images/lpbts-mod05-img04-mob.png" alt="niño">
            <p>Estuches</p>
        </article>

        <article class="picture3">
            <img src="/images/lpbts-mod05-img03-mob.png" alt="niña">
            <p>Bolsas de desporte</p>
        </article>
        
        <article class= "button2">
        <button class="start">Empezar ahora</button>
    </article> -->
    </section>
</main>